<p-toast></p-toast>

<div class="grid">
	<div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                      <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-button-outlined mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="left">
                    <h4>Gestion des profils</h4>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="profilList" [loading]="false"  [columns]="cols" responsiveLayout="scroll" [rows]="10" 
            [rows]="10" [paginator]="false"  [showCurrentPageReport]="true" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
            selectionMode="multiple" [rowHover]="true" (onRowSelect)="onRowSelect($event)" dataKey="id">

            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="p-m-0"></h5>
                    <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #searchInput pInputText type="text" 
                    (input)="dt.filterGlobal(searchInput.value, 'contains')" 
                    placeholder="Search..." />              
                  </span>
                </div>
            </ng-template>
            
                <ng-template let-columns pTemplate="header">
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="">
                            {{col.header}}
                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                        </th>
                        <th class="text-center" style="width: 10em">Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-profil>
                    <tr>
                        <td>{{profil.code}}</td>
                        <td>{{profil.libelle}}</td>
                        <td>

                            <div class="text-center">
                                <button pButton pRipple icon="pi pi-pencil" pTooltip="Modifier" class="p-button-rounded p-button-success mr-2" (click)="update(profil)"></button>
                                <button pButton pRipple icon="pi pi-trash" pTooltip="Supprimer" class="p-button-rounded p-button-warning" (click)="deleteProfil(profil)" ></button>
                            </div>
         </ng-template>

         <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td colspan="8"
                    style="text-align: center; font-size: 1.2em; color: red; font-weight: bold;"><span
                    class="text-danger"> Aucun profil trouvé ! </span></td>
            </tr>
        </ng-template>
            
        </p-table>

        <div class="flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="itemsPerPage" 
            [totalRecords]="totalItems" [rowsPerPageOptions]="[5, 10,25,50, 100]"></p-paginator>
        </div>


        </div>
    </div>

</div>



<p-dialog [(visible)]="profilDialog" [style]="{width: '450px'}" [header]= "popupHeader"
[modal]="true" [closable]="false" [draggable]="false" (onHide)="profilFormGroup.reset()" class="p-fluid">
    <ng-template pTemplate="content">

    <form (ngSubmit)="onSave()" [formGroup]="profilFormGroup">
        <div class="field">
            <label for="code">Code</label>
            <input type="text" pInputText id="code" formControlName="code" required autofocus/>
            <app-forms-validation [entityField]="'code'" [formGroup]="profilFormGroup"></app-forms-validation>
        </div>
        <div class="field">
            <label for="libelle">Libellé</label>
            <input type="text" pInputText id="libelle" formControlName="libelle" required autofocus/>
            <app-forms-validation [entityField]="'libelle'" [formGroup]="profilFormGroup"></app-forms-validation>
        </div>
    </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger" (click)="cancel()"></button>
        <button (click)="onSave()" pButton pRipple label="Enregistrer" icon="pi pi-save" class="p-button-success" 
        [disabled]="profilFormGroup.invalid"></button>
    </ng-template>
</p-dialog>

<app-loading-spinner></app-loading-spinner>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>