.layout-topbar-green {
    --topbar-bg: rgb(4 120 87);
    --topbar-start-bg: rgb(4 120 87);
    --topbar-menu-button-bg: #FBD022;
    --topbar-menu-button-hover-bg: #FBD022;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}