<header class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <div class="navbar-content">
      <div class="navbar-brand">
        <a aria-current="page" class="brand-link" href="/">
          <img class="brand-logo" src="https://www.gcob.gov.bf/fileadmin/user_upload/storages/armoiries.png" alt="" />
          <p class="brand-text">
            <span class="text-color-red">N</span><span class="text-color-yellow">E</span><span
              class="text-color-green">Y</span><span class="text-color-red">W</span><span
              class="text-color-yellow">A</span><span class="text-color-green">O</span><span
              class="text-color-red">N</span><span class="text-color-yellow">G</span>
            <span class="text-color-green">O</span>
          </p>
        </a>
      </div>
      <div class="navbar-links">
        <a aria-current="page" class="nav-link" href="#">Comment s'enregistrer ?</a>
        <a class="nav-link" href="#">Burkina Faso , destination a ne pas manquer</a>
        <a class="nav-link" href="#">FAQ</a>
      </div>
      <div class="navbar-actions">
        <a class="btn-secondary" href="/site-aeroport/preEnregistrement">S'inscrire</a>
        <a class="btn-primary" href="/site-aeroport/preEnregistrement">Se connecter</a>
      </div>
    </div>
  </div>
</header>