<div class="fixed inset-y-0 left-0 w-80 bg-emerald-900 text-white flex flex-col z-30 transform transition-transform duration-300 ease-in-out -translate-x-full md:translate-x-0" 
     [class.translate-x-0]="menuService.isMenuOpen()">
  <div class="flex items-center justify-between h-20 border-b border-emerald-700 px-4">
    <div class="flex items-center">
      <i class="fa-solid fa-paper-plane text-green-500 text-3xl"></i>
      <h1 class="text-2xl font-bold ml-3">Aéroport</h1>
    </div>
    <button (click)="menuService.toggleMenu()" class="md:hidden text-gray-300 hover:text-white">
      <i class="fa-solid fa-times text-2xl"></i>
    </button>
  </div>
  <nav class="flex-1 px-4 py-4 space-y-2 overflow-y-auto">
    <a routerLink="/tableau-de-bord" routerLinkActive="bg-emerald-700 text-white active-link-border" [routerLinkActiveOptions]="{exact: true}"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-chart-pie w-6 text-center text-lg"></i>
      <span class="ml-3">Tableau de Bord</span>
    </a>

    <!-- Catégorie: Gestion des Accès -->
    <div class="pt-4 pb-2 px-4">
      <span class="text-xs font-semibold text-gray-500 uppercase">Gestion des Accès</span>
    </div>
    <a routerLink="/gestion-roles" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-user-shield w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des Rôles</span>
    </a>
    <a routerLink="/module-param" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-user-shield w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des modules</span>
    </a>
    
    <a routerLink="/gestion-utilisateurs" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-users w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des Utilisateurs</span>
    </a>

    <!-- Catégorie: Infrastructure -->
    <div class="pt-4 pb-2 px-4">
      <span class="text-xs font-semibold text-gray-500 uppercase">Infrastructure</span>
    </div>
    <a routerLink="/gestion-aeroports" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-plane-departure w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des Aéroports</span>
    </a>
    <a routerLink="/gestion-compagnies" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-building w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des Compagnies</span>
    </a>
    <a routerLink="/gestion-vols" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-plane w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion des Vols</span>
    </a>

    <!-- Catégorie: Passagers -->
    <div class="pt-4 pb-2 px-4">
        <span class="text-xs font-semibold text-gray-500 uppercase">Passagers</span>
    </div>
    <a routerLink="/gestion-enregistrements" routerLinkActive="bg-emerald-700 text-white active-link-border"
        class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-clipboard-check w-6 text-center text-lg"></i>
        <span class="ml-3">Effectuer un Enregistrement</span>
    </a>
    <a routerLink="/registre-passagers" routerLinkActive="bg-emerald-700 text-white active-link-border"
        class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-address-book w-6 text-center text-lg"></i>
        <span class="ml-3">Registre des Passagers</span>
    </a>
    <a routerLink="/voyageurs-attente" routerLinkActive="bg-emerald-700 text-white active-link-border"
        class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-user-clock w-6 text-center text-lg"></i>
        <span class="ml-3">Voyageurs en Attente</span>
    </a>
    <a routerLink="/gestion-voyages" routerLinkActive="bg-emerald-700 text-white active-link-border"
        class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-route w-6 text-center text-lg"></i>
        <span class="ml-3">Gestion des Voyages</span>
    </a>
    <a routerLink="/gestion-motifs-voyages" routerLinkActive="bg-emerald-700 text-white active-link-border"
        class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-clipboard-list w-6 text-center text-lg"></i>
        <span class="ml-3">Motifs de Voyages</span>
    </a>

     <!-- Catégorie: Sécurité -->
    <div class="pt-4 pb-2 px-4">
        <span class="text-xs font-semibold text-gray-500 uppercase">Sécurité</span>
    </div>
    <a routerLink="/gestion-liste-noire" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-user-slash w-6 text-center text-lg"></i>
      <span class="ml-3">Gestion de la Liste Noire</span>
    </a>
    <a routerLink="/donnees-biometriques" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
        <i class="fa-solid fa-fingerprint w-6 text-center text-lg"></i>
        <span class="ml-3">Données Biométriques</span>
    </a>
    <a routerLink="/notification-urgente" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-bell w-6 text-center text-lg"></i>
      <span class="ml-3">Notification Urgente</span>
    </a>

    <!-- Catégorie: Système -->
    <div class="pt-4 pb-2 px-4">
        <span class="text-xs font-semibold text-gray-500 uppercase">Système</span>
    </div>
     <a routerLink="/historique-actions" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-history w-6 text-center text-lg"></i>
      <span class="ml-3">Historique des Actions</span>
    </a>
    <a routerLink="/connexion-sdk" routerLinkActive="bg-emerald-700 text-white active-link-border"
       class="relative flex items-center px-4 py-2 text-gray-300 hover:bg-emerald-700 hover:text-white rounded-md transition duration-200">
      <i class="fa-solid fa-satellite-dish w-6 text-center text-lg"></i>
      <span class="ml-3">Connexion SDK</span>
    </a>
  </nav>
</div>