.layout-menu-light {
    --menu-bg: rgb(6 78 59 );
    --root-menuitem-text-color: rgb(255 255 255 );
    --menuitem-text-color: rgb(255 255 255 );
    --menuitem-hover-bg: rgba(0,0,0,.04);
    --active-menuitem-text-color: var(--primary-500);
    --active-menuitem-bg: var(--primary-50);
    --inline-menu-border-color: #e4e4e4;
}