.layout-menu-teal {
    --menu-bg: #00695C;
    --root-menuitem-text-color: #ffffff;
    --menuitem-text-color: rgb(255 255 255);
    --menuitem-hover-bg: rgb(255 255 255 );
    --active-menuitem-text-color: rgb(255 255 255 );
    --active-menuitem-bg: rgba(255,255,255,.24);
    --inline-menu-border-color: rgba(255,255,255,.24);
}
